body {
    background: black;
    color: #fec303;
}

/******************************
############################### header
******************************/
header {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.Logo_Header img {
    max-height: 120px;
    width: auto;
}

/******************************
############################### Navigation
******************************/

nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav a {
    padding: 1rem;
    color: #fec303;
    font-size: 2rem;
    font-weight: bold;
}

/******************************
############################### News
******************************/

article{
    overflow: hidden;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.News_Image {
    display: flex;
    justify-content: right;
    /*padding: 1rem;*/
    margin: 1rem;
    max-height: 200px;
    width: 35%;
}

.News_Image img {
    object-fit: contain;
    width:100%;
    height:100%;
}

.News_Text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 200px;
    width: 65%;
    margin-bottom: 1rem;
}

.News_Text a {
    width: max-content;
    overflow: hidden;
    background: #fec303;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    margin-top: 1rem;
}

hr {
    border: #fec303 solid;
}

/******************************
############################### Footer
******************************/
